body {
    margin: 0;
}

.background {
    background-color: rgb(170, 140, 30);
}

#list {
    width: 930px;
    margin: 0 auto;
}

.level {
    width: 232.5px;
    height: 30px;
    background: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.leveltext {
    font-family: Arial;
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.section {
    width: 930px;
    height: 80px;
}

.side {
    display: flex;
}

.border {
    height: 80px;
    border: 1px solid black;
}

.number {
    width: 30px;
    height: 20px;
    background: rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blank_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 60px;
    background: rgb(250, 200, 170);
}

.blank_2 {
    width: 14px;
    height: 14px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    background: white;
}

.section:nth-of-type(odd) .word {
    width: 450px;
    height: 80px;
    background: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section:nth-of-type(even) .word {
    width: 450px;
    height: 80px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part {
    width: 40px;
    height: 40px;
    background: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section:nth-of-type(odd) .mean {
    width: 450px;
    height: 80px;
    background: rgb(250, 200, 170);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section:nth-of-type(even) .mean {
    width: 450px;
    height: 80px;
    background: rgb(250, 230, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numtext {
    font-family: Arial;
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.wordtext {
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 40px;
    transform-origin: left center;
    margin-left: 10px;
    white-space: nowrap;
}

.meantext {
    font-family: Arial;
    font-weight: bold;
    color: rgb(250, 150, 90);
    font-size: 40px;
    transform-origin: left center;
    white-space: nowrap;
}

.parttext {
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 40px;
    transform-origin: left center;
    margin-left: 10px;
    background: rgb(215, 215, 215);
}
